@charset "utf-8";[data-sprite-btn] {
    cursor: pointer
}

figure {
    position: relative
}

figure img {
    vertical-align: top
}

.imgBgContainer {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box
}

.canvasContainer {
    cursor: pointer
}

header .title img[src*="equalIcon"],h2 img[src*="equalIcon"] {
    height: 11px;
    vertical-align: middle;
    margin: -7px 0 0 0
}

header .title img[src*="inequalIcon"],h2 img[src*="inequalIcon"] {
    height: 30px
}

.study_guide {
    position: absolute;
    height: 30px;
    line-height: 30px;
    color: #787272;
    font-size: 14px;
    font-family: NotoB;
    vertical-align: top;
    padding: 0 26px 0 44px;
    border-radius: 30px;
    background: #f4f4f4 url(../../contents/images/icon/icon_info.png) 21px center/16px auto no-repeat;
    box-sizing: border-box
}

.study_guide em {
    color: #232323
}

.guide_container {
    position: relative;
    height: 30px;
    margin-bottom: 10px
}

.guide_container .study_guide {
    position: static;
    float: right
}

.listenContainer {
    position: absolute;
    display: inline-flex;
    top: 20px;
    left: 20px;
    height: 30px;
    z-index: 1
}

.listenContainer>li {
    padding: 0 22px 0 38px;
    height: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 31px;
    text-align: center;
    font-family: YGJAL;
    border-radius: 10px;
    vertical-align: top;
    background-size: auto 22px;
    background-color: #ffb100;
    background-position: 9px 4px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer
}

.listenContainer>li:not(:last-of-type) {
    margin-right: 8px
}

.listenContainer .songBtn,.listenContainer .rhythmBtn {
    background-image: url(../../contents/images/icon/icon_musicNote.svg)
}

.listenContainer .changeBtn {
    background-image: url('../../contents/images/icon/icon_musicNote_note.svg')
}

.listenContainer>li.hover,.listenContainer>li.on {
    background-color: #f60
}

.mediaContainer .listenContainer {
    top: -530px
}

.blockSpan {
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 337px
}

.blockSpan .qBox:first-child {
    margin-left: 114px
}

.docDownBtn {
    position: absolute;
    display: inline-block;
    height: 39px;
    padding: 0 16px 0 42px;
    color: #fff;
    font-size: 15px;
    font-family: YGJAL;
    line-height: 39px;
    border-radius: 30px;
    background: #f77c19 url(../../contents/images/icon/icon_down.svg) 13px center/20px auto no-repeat;
    box-sizing: border-box;
    z-index: 1
}

.docDownBtn.hover {
    background-color: #666
}

.click-Mouse-Btn,.click-finger-Btn {
    position: absolute;
    box-sizing: border-box;
    cursor: pointer
}

.click-Mouse-Btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f60 url(../images/icon/icon_click.svg) center top/23px no-repeat
}

.click-Mouse-Btn.hover {
    background-color: #666
}

.click-finger-Btn {
    width: 51px;
    height: 70px;
    background: url("../images/icon/icon_click_finger.png") center/contain no-repeat
}

.click-finger-Btn.hover {
    transform: scale(0.92)
}

.click-Mouse-Btn.inline,.click-finger-Btn.inline {
    vertical-align: top
}

.playDataList>li {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap
}

.playDataList>li:not(:last-of-type) {
    margin-bottom: 30px
}

.playDataList dl {
    position: relative;
    display: flex
}

.playDataList dl dt {
    position: relative;
    min-width: 186px;
    height: 46px;
    color: #fff;
    flex-shrink: 0;
    font-size: 24px;
    padding: 0 0 0 38px;
    text-align: center;
    line-height: 46px;
    font-family: YGJAL;
    align-self: flex-start;
    border-radius: 8px 30px 30px 8px;
    background-color: #ffbc47;
    box-sizing: border-box
}

.playDataList dl dd {
    position: relative
}

.playDataList dl dt:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    margin-right: 10px;
    border-radius: 8px 30px 30px 8px;
    background: #ff8c40 url(../images/icon/icon_toy.svg) center/30px no-repeat
}

.playDataList .row {
    flex-direction: row;
    justify-content: space-between;
    width: 49%
}

.playDataList .row.full {
    width: 100%
}

.playDataList .row dt {
    margin-right: 15px
}

.playDataList .row dd {
    width: 100%
}

.playDataList .column {
    width: 100%;
    flex-direction: column
}

.playDataList .column:before,.playDataList .column:after {
    content: '';
    position: absolute;
    background-color: #ffbc47
}

.playDataList .column:before {
    top: 23px;
    height: 2px;
    width: 100%
}

.playDataList .column:after {
    top: 18px;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%
}

.playDataList .column dt {
    margin-bottom: 20px
}

.playDataList .contentsList .contentsList {
    margin-top: 4px
}

.supply_guide,.pages_guide {
    position: absolute;
    padding: 0 14px 0 36px;
    height: 32px;
    font-size: 17px;
    line-height: 32px;
    color: #787272;
    text-align: center;
    font-family: YGJAL;
    background-color: #f4f4f4;
    border-radius: 0 10px 0 0;
    box-sizing: border-box;
    vertical-align: top
}

.supply_guide:before,.pages_guide:before {
    content: '';
    position: absolute
}

.supply_guide:before {
    bottom: 0;
    left: -4px;
    width: 27px;
    height: 38px;
    background: url(../images/icon/icon_pencil_case.svg) center bottom/contain no-repeat
}

.pages_guide:before {
    top: 0;
    left: 0;
    width: 25px;
    height: 35px;
    background: url(../images/icon/icon_bookmark.svg) center top/contain no-repeat
}

.supply_guide.inline,.pages_guide.inline {
    position: relative;
    display: inline-block;
    margin: 8px 0 0 5px
}

.supply_guide.right,.pages_guide.right {
    position: relative;
    float: right
}

header .title .supply_guide.inline,header .title .pages_guide.inline {
    margin: 0 0 0 5px
}

.icon_arrow {
    display: inline-block;
    width: 31px;
    height: 28px;
    background: url(../../contents/images/icon/icon_arrow.svg) center/contain no-repeat
}

.icon_arrow.big {
    width: 51px;
    height: 45px
}

.icon_arrow.shrink,.contentsList .icon_arrow {
    flex-shrink: 0
}

.icon_arrow.shrink {
    margin: 0 10px 0 0
}

.contentsList .icon_arrow {
    margin: 8px 10px 0 0
}

.contentsList.inList .icon_arrow+* {
    width: 100%
}

.contentsList .icon_arrow.big {
    margin: -2px 10px 0 0;
    vertical-align: top
}

.contentsList .icon_arrow.mt {
    margin-top: 14px
}

.icon_arrow.dash {
    background: url(../../contents/images/icon/icon_arrow_dash.svg) center/contain no-repeat
}

.icon_arrow.left {
    transform: rotate(180deg)
}

.icon_arrow.top {
    transform: rotate(270deg)
}

.icon_arrow.bottom {
    transform: rotate(90deg)
}

.icon_bogi {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
    text-align: center;
    border-radius: 10px 0;
    background-color: #f6e7d4;
    box-sizing: border-box
}

.icon_bogi:after {
    display: block;
    content: '보기';
    color: #8e795e;
    font-size: 15px;
    font-family: YGJAL;
    line-height: 28px
}

h2 .icon_bogi,h3 .icon_bogi {
    height: 36px;
    margin: 5px 0 0 0;
    border-radius: 10px;
    vertical-align: top
}

h2 .icon_bogi:after,h3 .icon_bogi:after {
    font-size: 21px;
    line-height: 36px
}

.bogiContainer {
    position: relative;
    margin: 0 auto;
    min-width: 230px;
    padding: 4px;
    background-color: #f6e7d4;
    border-radius: 15px;
    box-sizing: border-box
}

.bogiContainer .icon_bogi {
    position: absolute;
    top: 0;
    left: 0
}

.bogiContainer .inner {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    pointer-events: auto
}

.bogiContainer .inner.blue {
    color: #fff;
    background-color: #1886cd
}

.bogiContainer .inner .bogiCard {
    width: 330px;
    height: 95px;
    color: #fff;
    line-height: 95px;
    text-align: center;
    box-sizing: border-box
}

.bogiContainer .bogiCard.character {
    border: 1px solid #b8b8b8;
    text-align: center;
    background: #d5d5d5 url(../../contents/images/icon/icon_character.png) center/68px 75px no-repeat
}

.bogiContainer .bogiCard.blue {
    border-right: 2px solid #36afe2;
    border-top: 2px solid #36afe2;
    box-shadow: 0 0 2px #309dcb;
    background-color: #1b8aba
}

.animal {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.animal.bee.heart {
    background-image: url("../images/animal/svg_bee_heart.svg")
}

.animal.bee.star {
    background-image: url("../images/animal/svg_bee_star.svg")
}

.animal.bee.write {
    background-image: url("../images/animal/svg_bee_writing.svg")
}

.animal.cat.front {
    background-image: url("../images/animal/svg_cat_front.svg")
}

.animal.cat.hello {
    background-image: url("../images/animal/svg_cat_hello.svg")
}

.animal.doggy {
    background-image: url("../images/animal/svg_doggy.svg")
}

.arrowLine {
    position: absolute;
    text-align: center
}

.arrowLine.sky {
    border: 3px solid #00b0f0
}

.arrowLine.red {
    border: 3px solid red
}

.arrowLine:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px
}

.arrowLine.btb {
    border-bottom: 0
}

.arrowLine.btb:after {
    border-style: solid;
    border-width: 10px 6px
}

.arrowLine.btb.sky:after {
    border-color: #00b0f0 transparent transparent transparent
}

.arrowLine.btb.red:after {
    border-color: #f00 transparent transparent transparent
}

.arrowLine.tbt {
    border-top: 0
}

.arrowLine.tbt.sky:after {
    border-color: transparent transparent #00b0f0 transparent
}

.arrowLine.tbt.red:after {
    border-color: transparent transparent #f00 transparent
}

.arrowLine.arrow {
    position: relative;
    display: inline-block;
    transform-origin: center;
    -webkit-transform-origin: center
}

.arrowLine.arrow.left {
    transform: rotateY(-180deg)
}

.arrowLine.arrow.top {
    transform: rotate(-90deg)
}

.arrowLine.arrow.bottom {
    transform: rotate(90deg)
}

.arrowLine.arrow.top,.arrowLine.arrow.bottom {
    transform-origin: left top;
    -webkit-transform-origin: left top
}

.arrowLine.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(100% - 16px);
    border-width: 5px 0 0 0;
    border-style: solid;
    transform: translateY(-50%)
}

.arrowLine.arrow.dash:before {
    width: calc(100% - 18px);
    border-style: dashed
}

.arrowLine.arrow:after {
    border-width: 10px 18px;
    top: 50%;
    right: -18px;
    transform: translateY(-50%)
}

.arrowLine.arrow.pink:before {
    border-color: #f6a1ae
}

.arrowLine.arrow.blue:before {
    border-color: #508abd
}

.arrowLine.arrow.purple:before {
    border-color: #cabfe0
}

.arrowLine.arrow.orange:before {
    border-color: #fccd89
}

.arrowLine.arrow.green:before {
    border-color: #cee492
}

.arrowLine.arrow.lightRed:before {
    border-color: #e94d40
}

.arrowLine.arrow.pink:after {
    border-color: transparent transparent transparent #f6a1ae
}

.arrowLine.arrow.blue:after {
    border-color: transparent transparent transparent #508abd
}

.arrowLine.arrow.purple:after {
    border-color: transparent transparent transparent #cabfe0
}

.arrowLine.arrow.orange:after {
    border-color: transparent transparent transparent #fccd89
}

.arrowLine.arrow.green:after {
    border-color: transparent transparent transparent #cee492
}

.arrowLine.arrow.lightRed:after {
    border-color: transparent transparent transparent #e94d40
}

.speaker_icon {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #e7e7e7 url(../images/icon/icon_speaker.svg) 11px center /45px auto no-repeat;
    border-radius: 50%
}

.speaker_icon.on,.speaker_icon.hover {
    background: #f6e7d4 url(../images/icon/icon_speaker_on.svg) 11px center /45px auto no-repeat
}

.faceIcon {
    width: 100px;
    height: 100px;
    cursor: pointer
}

.faceIcon_good {
    background: url(../images/icon/icon_fave_good.png) center/auto 80% no-repeat
}

.faceIcon_good.on {
    background: url(../images/icon/icon_fave_good_on.png) center/auto 80% no-repeat
}

.faceIcon_soso {
    background: url(../images/icon/icon_fave_soso.png) center/auto 80% no-repeat
}

.faceIcon_soso.on {
    background: url(../images/icon/icon_fave_soso_on.png) center/auto 80% no-repeat
}

.faceIcon_bad {
    background: url(../images/icon/icon_fave_bad.png) center/auto 80% no-repeat
}

.faceIcon_bad.on {
    background: url(../images/icon/icon_fave_bad_on.png) center/auto 80% no-repeat
}

.flex-wrap {
    display: flex;
}
.flex-item {
    flex: 1;
}

.downloadBtn{
    background: #ff5e00 url(../../contents/images/icon/icon_check.svg) 15px center/22px auto no-repeat;
    position: absolute;
    height: 50px;
    color: #fff ;
    font-size: 20px;
    font-family: YGJAL;
    text-align: left;
    padding-left: 32px;
    padding-right: 25px;
    border-radius: 25px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    bottom:20px;
}

.downloadBtn:before{
    content: "다운로드";
    padding-left: 14px;
    display: flex;
    height: 100%;
    color: #fff ;
    align-items: center;
    pointer-events: none;
}

.bunsuWrap { font-size: inherit; }
.bunsuWrap.mb-10 { margin-bottom: -10px; }
.bunsuWrap.mb-20 { margin-bottom: -20px; }
.bunsuWrap.mb-30 { margin-bottom: -30px; }
.bunsuWrap.inline { display: inline-block; }
.bunsuWrap ul {
    display: inline-block;
    vertical-align: middle;
    padding: 0 2px;
    text-align: center;
    font-size: inherit;
    line-height: 1.1em;
}
.bunsuWrap ul > li { min-width: 0.8em; }
.bunsuWrap ul > li:first-of-type {
    border-bottom: 2px solid #000;
}
.contentsTitle .bunsuWrap ul > li:first-of-type {
    border-bottom: 3px solid #fff;
}
.qBox .bunsuWrap ul > li:first-of-type { border-bottom: 2px solid #107CE9 !important; }
.showObj { cursor: pointer; }