
@charset "utf-8";

.page1 .svgCon {
    position: relative;
    top: 210px;
}
.audioPlayer {
    width: 320px;
    top: 0;
    left: 652px;
}


.page2 .svgCon {
    position: relative;
    top: 150px;
}
.page2 .svgList #bar_1 image, 
.page2 .svgList #bar_2 image,
.page2 .svgList #bar_3 image {
    display: none;
}
.page2 .svgList polygon.on,
.page2 .svgList path.on,
.page2 .svgList #bar_1 image.on,
.page2 .svgList #bar_2 image.on,
.page2 .svgList #bar_3 image.on {
    display: block
}

main .countBox {
    top: -80px;
    left: 20px;
}