@charset "utf-8";

.page_2 .tableTab_container {
  height: 490px;
}
.page_2 [class*="innerTab_"] figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.page_2 [class*="innerTab_"] figure img {
  width: 50%;
}
.page_2 .study_guide {
  top: -48px;
  right: 0;
}
.page_3 .study_guide {
  top: -48px;
  right: 0;
}
.page_3 figure img {
  width: 940px;
  display: block;
  margin: 0 auto;
}
.page_3 .popBtn_1 {
  top: 230px;
  left: 160px;
}
.page_3 .popBtn_2 {
  top: 220px;
  left: 730px;
}
.popup_pages .popup_1 {
  bottom: 298px;
  left: 60px;
}
.popup_pages .popup_2 {
  bottom: 310px;
  left: 800px;
}

.popup_pages .speech.popup_1:after { right: 10px; }
.popup_pages .speech.popup_2:after { left: 10px; }