@charset "utf-8";
.page_2 .innerTab_1 .tableContainer {
	width: 100%;
}
.page_2 .tableContainer table td {
	padding: 10px;
}
.page_2 .innerTab_1 .tableContainer .bullet {
	margin: 4px auto 0;
}