@charset "utf-8";
/* 2 */
.page_2 .multipleChoiceList > li {
	width: 30%;
}
.page_2 .multipleChoiceList > li img {
	width: 100%;
}
.page_2 .multipleChoiceList > li .feedBack {
	margin-top: 10px;
	font-size: 26px;
}

/* 3 */
.page_3 .lineBox .blankBox { width: 120px; }
.page_3 .multipleChoiceList {
	margin: 40px auto 0;
	width: 750px;
}
.page_3 .multipleChoiceList > li {
	width: 270px;
	margin-bottom: 40px;
}
.page_3 .multipleChoiceList > li:nth-of-type(odd) {}
/* 4 */
.page_4 h2 .blankBox { width: 120px; }
.page_4 .lineBox .blankBox { width: 120px; }
.page_4 .flex-box {
	margin: 60px 0 0 0;
}

/* 6 */
.page_6 .characterList {
	height: 380px;
}
.page_6 .characterList > li:not(:last-of-type) {
	margin-bottom: -30px;
}
.page_6 .feedBack {
	position: absolute;
	top: 360px;
	left: 0;
	font-size: 26px;
}

/* 7 */
.page_7 .characterList .balloon {
	height: 130px;
}
/* 8 */
.page_8 .dragLineContainer {
	height: 390px;
}
.page_8 .dragLineContainer > ul {
	display: flex;
	flex-direction: column;
}
.page_8 .dragLineContainer > ul > li {
	min-width: 245px;
}
.page_8 .dragLineContainer .yellow {
	justify-content: space-between;
}
.page_8 .dragLineContainer .sky {
	justify-content: space-around;
}
.page_8 .top_1 {
	top: 29px;
}
.page_8 .left_2.top_1 {
	top: 98px;
}
.page_8 .top_2 {
	top: 140px;
}
.page_8 .left_2.top_2 {
	top: 294px;
}
.page_8 .top_3 {
	top: 250px;
}
.page_8 .top_4 {
	top: 360px;
}
.page_8 .left_1 {
	left: 265px;
}
.page_8 .left_2 {
	left: 707px;
}

/* 9 */
.page_9 .dragDropContainer {
	height: 300px;
}
.page_9 .bogiContainer {
	margin: 10px auto 0;
}
.page_9 .bogiContainer .inner {
	height: 150px;
}

.page_9 .dropArea,
.page_9 .dragObj {
	position: absolute;
	font-size: 32px;
	box-sizing: border-box;
}
.page_9 .dragObj {
	top: 34px;
	width: 290px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}
.page_9 .dragObj_1 {
	left: 35px;
	background-color: #EFCFA6;
}
.page_9 .dragObj_2 {
	left: 355px;
	background-color: #F4E8BD;
}
.page_9 .dragObj_3 {
	left: 674px;
	background-color: #C1E8ED;
}
.page_9 .dropArea {
	top: 190px;
	width: 290px;
	text-align: center;
	padding: 12px 2px;
	border-radius: 10px;
	border: 4px solid #fda671;
	background-color: #ffffff;
}
.page_9 .dropArea_1 {
	left: 35px;
}
.page_9 .dropArea_2 {
	left: 355px;
}
.page_9 .dropArea_3 {
	left: 674px;
}

.page_9 .dragObjUL .dragObjComplete {
	display: none;
}
.page_9 .dropArea .dragObj {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

/* 10 */
.page_10 .scroll_container.horizon .scroll_content {
	width: 1460px;
}
.page_10 .scroll_container.horizon {
	width: 100%;
}
.page_10 .horizonContainer {
	width: 1440px;
	height: 100px;
}
.page_10 .horizonContainer .lineContainer {
	left: 20px;
}
.page_10 .horizonContainer .textContainer {
	left: -16px;
}
.page_10 .flex-box {
	margin: 60px 0 0 0;
}

.popup_pages .pop_page_1 {
	top: 216px;
	left: 430px;
	width: 560px;
}
.popup_pages .pop_page_2 {
	top: 350px;
	left: 260px;
	width: 420px;
}
.popup_pages .pop_page_3 {
	bottom: 120px;
}