@charset "utf-8";

.popup_pages > li.whole .scroll_container {
	height: 650px;
}
.page_2 .scroll_container,
.page_4 .scroll_container {
	height: 490px;
}
.page_2 .btn_2 {
	margin: -8px 0 0 8px;
	vertical-align: top;
}

.page_3 .figureUL {
	display: flex;
	justify-content: space-between;
}
.page_3 .figureUL > li {
	width: 49%;
	height: 510px;
}
.page_3 figure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 10px;
	border: 4px solid #F4BB87;
	box-sizing: border-box;
}
.page_3 .popBtn {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.page_3 .btn_4 {
	background-image: url("../images/nproto_cmn_922/img_1.png");
}
.page_3 .btn_5 {
	background-image: url("../images/nproto_cmn_922/img_2.png");
}
.page_3 .btn_6 {
	background-image: url("../images/nproto_cmn_922/img_3.png");
}
.page_3 figure figcaption {
	text-indent: 0.9em;
	text-align: justify;
	background-color: #FBE8D7;
	box-sizing: border-box;
	padding: 10px;
	margin-top: 10px;
	flex-shrink: 0;
}
.page_3 .innerTab_2 figure {
	height: 510px;
}
.page_3 .innerTab_2 figure figcaption {
	text-indent: 0;
	text-align: center;
}

.popup_pages .pop_page_2 {
	top: 340px;
	left: 80px;
	width: 720px;
}
.popup_pages .pop_page_3 {
	top: 276px;
	left: 80px;
	width: 670px;
}
.popup_pages .pop_page_4 {
	top: 160px;
	left: 50%;
	width: 650px;
	height: 490px;
	transform: translate(-50%);
}
.popup_pages .image figure {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup_pages .pop_page_5 .zoomContainer .zoomArea {
	height: 640px;
}
.popup_pages .pop_page_5 .zoom_img {
	height: 620px;
	background-image: url(../images/nproto_cmn_922/img_3.png);
}