@charset "utf-8";

.page_2 .scroll_container {
	height: 490px;
}
.page_3 .figureUL {
	display: flex;
	justify-content: space-between;
}
.page_3 .figureUL > li {
	width: 49%;
	height: 430px;
}
.page_3 figure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 10px;
	border: 4px solid #F4BB87;
	box-sizing: border-box;
}
.page_3 figure figcaption {
	text-indent: 0.9em;
	text-align: justify;
	background-color: #FBE8D7;
	box-sizing: border-box;
	padding: 10px;
	margin-top: 10px;
	flex-shrink: 0;
}
.page_3 .innerTab_2 figure,
.page_3 .innerTab_3 figure {
	height: 430px;
}
.page_3 .innerTab_2 figure figcaption,
.page_3 .innerTab_3 figure figcaption {
	text-indent: 0;
	text-align: center;
}
.page_3 .imgBox {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: auto 95%;
	background-repeat: no-repeat;
	background-position: center;
}
.page_3 .box_1 {
	background-image: url("../images/nproto_cmn_921/img_1.png");
}
.page_3 .box_2 {
	background-image: url("../images/nproto_cmn_921/img_2.png");
}
.page_3 .box_3 {
	background-image: url("../images/nproto_cmn_921/img_3.png");
}
.page_3 .box_4 {
	background-image: url("../images/nproto_cmn_921/img_4.png");
}
.page_3 .box_5 {
	background-image: url("../images/nproto_cmn_921/img_5.png");
}
.page_3 .box_6 {
	background-image: url("../images/nproto_cmn_921/img_6.png");
}