@charset "utf-8";

.page_1 section {
  background: url("../common/contents/images/animal/svg_bear_03.svg") 230px 180px/auto 310px no-repeat,  url("../common/contents/images/animal/svg_bear_04.svg") 510px 190px/auto 300px no-repeat;
}
.page_1 section .popBtn_1 {
  top: 170px;
  left: 230px;
}
.page_1 section .popBtn_2 {
  top: 170px;
  left: 710px;
}

.popup_pages .popup_1 {
  top: 316px;
  left: 90px;
}
.popup_pages .popup_2 {
  top: 316px;
  left: 750px;
}

.popup_pages .speech.popup_1:after { right: 10px; }
.popup_pages .speech.popup_2:after { left: 10px; }