@charset "utf-8";

.isActive_slides > li {
  /*  세로값은 보드 내용 대로*/
}

.innerTab_5 .imgBlinkUL {
  position: relative;
}
.innerTab_5 .imgBlinkUL > li {
  position: absolute;
  opacity: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.innerTab_5 .imgBlinkUL > li:nth-of-type(1) {
  top: 20px;
  left: 430px;
  width: 160px;
  height: 150px;
  background-image: url("../images/nproto_suh_512_2/img_1.png");
}
.innerTab_5 .imgBlinkUL > li:nth-of-type(2) {
  top: 169px;
  left: 433px;
  width: 154px;
  height: 150px;
  background-image: url("../images/nproto_suh_512_2/img_2.png");
}
.innerTab_5 .imgBlinkUL > li:nth-of-type(3) {
  top: 167px;
  left: 446px;
  width: 127px;
  height: 154px;
  background-image: url("../images/nproto_suh_512_2/img_3.png");
}
.innerTab_5 .imgBlinkUL > li:nth-of-type(4) {
  top: 168px;
  left: 314px;
  width: 133px;
  height: 151px;
  background-image: url("../images/nproto_suh_512_2/img_4.png");
}
.innerTab_5 .imgBlinkUL > li:nth-of-type(5) {
  top: 168px;
  left: 375px;
  width: 150px;
  height: 90px;
  transform: rotate(2deg);
  background-size: 100% 100%;
  background-image: url("../images/nproto_suh_512_2/img_5.png");
}
.innerTab_5 .imgBlinkUL > li:nth-of-type(6) {
  top: 130px;
  left: 401px;
  width: 160px;
  height: 70px;
  background-size: 100% 100%;
  transform: rotate(-88deg);
  background-image: url(../images/nproto_suh_512_2/img_5.png);
}
.innerTab_5 .imgBlinkUL > li:nth-of-type(7) {
  top: 86px;
  left: 376px;
  width: 140px;
  height: 162px;
  background-image: url("../images/nproto_suh_512_2/img_7.png");
}
.innerTab_5 .textUL { opacity: 0; }
.innerTab_5 .textUL > li {
  position: absolute;
}
.innerTab_5 .textUL > li:nth-of-type(1) {
  top: 230px;
  left: 636px;
}
.innerTab_5 .textUL > li:nth-of-type(2) {
  top: 340px;
  left: 636px;
}
.innerTab_5 .textUL > li:nth-of-type(3) {
  top: 406px;
  left: 591px;
}
.innerTab_5 .textUL > li:nth-of-type(4) {
  top: 406px;
  left: 510px;
}
.innerTab_5 .textUL > li:nth-of-type(5) {
  top: 336px;
  left: 540px;
}
.innerTab_5 .textUL > li:nth-of-type(6) {
  top: 285px;
  left: 580px;
}
.innerTab_5 .textUL > li:nth-of-type(7) {
  top: 260px;
  left: 515px;
}
.innerTab_5.on .imgBlinkUL > li,
.innerTab_5.on .textUL {
  -webkit-animation: opacityOne 1s step-end forwards;
  animation: opacityOne 1s step-end forwards;
}
.innerTab_5.on .imgBlinkUL > li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.innerTab_5.on .imgBlinkUL > li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.innerTab_5.on .imgBlinkUL > li:nth-of-type(4) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.innerTab_5.on .imgBlinkUL > li:nth-of-type(5) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.innerTab_5.on .imgBlinkUL > li:nth-of-type(6) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.innerTab_5.on .imgBlinkUL > li:nth-of-type(7) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.innerTab_5.on .textUL {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}