@charset "utf-8";

img{width:100%;}

/* page_1 */
.page_1 figure {
  margin: 0 auto 0;
  width: 900px;
}
.page_1 .flexListContainer{position:relative; padding-top:17px;} 
.page_1 .flexListContainer .supply_guide{position:absolute; top:-20px; right:0; }
.page_1 .flexListContainer .icon_arrow{position:absolute; top:50%; left:50%; margin-top:-25px; margin-left:-22.5px;}
.page_1 .flexListContainer > .toggle{
  position: absolute;
  top: 38px;
  right: 69px;
  width: 346px;
}
.page_1 .flexListContainer > .toggle .answer img{
  width: 302px;
}
.page_1 .lineBox.orange {
  margin: -3px auto 8px;
  width: 290px;
}
/* page_2 */
.page_2 {
}

.page_2 .study_guide {
  top: -45px;
  right: 0;
}

.page_2 .flexListContainer {
  margin: 30px auto 50px;
  width: 900px;
}

.page_2 .flexListContainer .math_calc_table {
  width: 160px;
  margin: 0;
}

.page_2 .flexListContainer .math_calc_table tr td {
  height: 56px;
  box-sizing: border-box;
}

.page_2 .flexListContainer .math_calc_table .rowLine {
  top: -2px;
  left: 0;
  width: 170px;
}
.page_2 .lineDotted.line_1 {
  left: 105px;
}
.page_2 .lineDotted.line_2 {
  left: 159px;
}
.page_2 .icon_arrow.blinkOn {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  cursor: pointer;
}
.page_2 .icon_arrow.off {
  animation: none;
}
.page_2 .flexListContainer .math_calc_table.visibleH .toggle {
  visibility: hidden;
  z-index: -1;
}
/* page_3 */
.page_3{}
.page_3 .flexListContainer{}
.page_3 .flexListContainer .toggle{margin-top:50px;}


