@charset "utf-8";

.study_guide {
  top: 36px;
  right: 20px;
}
.bogiContainer {
  width: 420px;
  margin: 10px auto 0;
}
.bogiContainer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bogiContainer .inner img {
  padding: 12px 0;
  vertical-align: top;
}

.flexListContainer {
  margin: 40px auto 0;
  width: 800px;
}
.flexListContainer > li {
  width: 380px;
  display: flex;
  align-items: center;
}

.flexListContainer > li .imgBox {
  position: relative;
  height: 250px;
  overflow: hidden;
}
.flexListContainer > li .imgBox img {
  position: relative;
  width: 300px;
  top: -20px;
}