@charset "utf-8";
.page_1 .scroll_container {
  height: 500px;
}
.page_1 .tableContainer {
  position: relative;
  font-family: NotoM;
  box-sizing: border-box;
}
.page_1 .tableContainer .popBtn {
  bottom: -20px;
  right: -20px;
}
.page_1 .tableContainer table td,
.page_1 .tableContainer table th {
  width: 60px;
}
/*pop*/
.pop_page_1 .tableContainer {
  width: 97%;
  margin: 40px auto 0;
}
.pop_page_1 .tableContainer table th {
  width: 10%;
}

.page_2 .oxCheckContainer {
  width: 1010px;
  margin: 30px auto 0;
}
.page_2 .oxCheckContainer > li {
  width: 32%;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.page_2 .oxCheckContainer > li:nth-of-type(1) {
  background-image: url("../images/nproto_suh_513/img_1.png");
}
.page_2 .oxCheckContainer > li:nth-of-type(2) {
  background-image: url("../images/nproto_suh_513/img_2.png");
}
.page_2 .oxCheckContainer > li:nth-of-type(3) {
  background-image: url("../images/nproto_suh_513/img_3.png");
}
.page_2 .oxCheckContainer > li [class*="icon"] {
  width: 140px;
  height: 140px;
}

/* 4 */
.page_4 .dragLineContainer {
  height: 450px;
}
.page_4 .dragLineContainer > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page_4 .dragLineContainer .left > li,
.page_4 .dragLineContainer .right > li {
  height: 110px;
}
.page_4 .dragLineContainer .center > li {
  height: 86px;
  width: 90px;
  line-height: 86px;
  border-radius: 8px;
  background-color: #ffece2;
}
.page_4 .dragLineContainer > ul > li img {
  width: 104px;
  vertical-align: top;
}
.page_4 .top_1 {
  top: 54px;
}
.page_4 .top_2 {
  top: 168px;
}
.page_4 .top_3 {
  top: 282px;
}
.page_4 .top_4 {
  top: 393px;
}
.page_4 .left_1 {
  left: 170px;
}
.page_4 .left_2 {
  left: 488px;
}
.page_4 .left_3 {
  left: 618px;
}
.page_4 .left_4 {
  left: 936px;
}
.page_4 .left_2.top_1,
.page_4 .left_3.top_1 {
  top: 46px;
}
.page_4 .left_2.top_2,
.page_4 .left_3.top_2 {
  top: 137px;
}
.page_4 .left_2.top_3,
.page_4 .left_3.top_3 {
  top: 228px;
}
.page_4 .left_2.top_4,
.page_4 .left_3.top_4 {
  top: 316px;
}
.page_4 .left_2.top_5,
.page_4 .left_3.top_5 {
  top: 408px;
}
.page_4 .fakeLine.line_1 {
  top: 19px;
  left: 23px;
  width: 360px;
  transform: rotate(29deg);
}

/* 5 */
.page_5 .dragLineContainer {
  height: 450px;
}
.page_5 .dragLineContainer > ul {
  display: flex;
  justify-content: space-between;
}
.page_5 .dragLineContainer ul > li {
  width: 150px;
}
.page_5 .dragLineContainer .bottom img {
  width: 91%;
  vertical-align: top;
}
.page_5 .top_1 {
  top: 74px;
}
.page_5 .top_2 {
  top: 140px;
}
.page_5 .top_3 {
  top: 232px;
}
.page_5 .top_4 {
  top: 298px;
}
.page_5 .left_1 {
  left: 124px;
}
.page_5 .left_2 {
  left: 340px;
}
.page_5 .left_3 {
  left: 555px;
}
.page_5 .left_4 {
  left: 770px;
}
.page_5 .left_5 {
  left: 983px;
}
/* 6 */
.page_6 .flexListContainer {
  height: 470px;
}
.page_6 .circleChain > li {
  min-width: 110px;
  padding: 26px 0;
}

/* 7 */
.page_7 .flexListContainer {
  height: 390px;
  margin: 20px 0 0 0;
}
.page_7 .lineBox {
  width: 480px;
  padding: 30px 12px;
}
.page_7 .lineBox > li {
  display: flex;
  align-items: center;
}
.page_7 .lineBox > li:first-of-type {
  justify-content: center;
}
.page_7 .lineBox > li:nth-of-type(2) {
  width: 272px;
  margin: 0 auto;
  justify-content: space-between;
}
.page_7 .lineBox .toggle {
  margin: 0 10px;
}

/* 8 */
.page_8 .flexListContainer {
  width: 750px;
  margin: 0 auto;
}
.page_8 .flexListContainer .squareTable {
  width: 500px;
  height: 200px;
  cursor: pointer;
}
.page_8 .squareTable.complete {
  cursor: default;
}
.page_8 .squareTable.complete .color_1 { background-color: #C1E8EC; }
.page_8 .squareTable.complete .color_2 { background-color: #F0E1DA; }

/* 9 */
.page_9 .lineTableContainer {
  width: 510px;
  margin: 0 auto;
}
.page_9 .lineTableContainer td img {
  height: 190px;
}
.page_9 .lineTableContainer td ul > li:not(:last-of-type) {
  margin-bottom: 10px;
}

/* 10 */
.page_10 .characterList {
  height: 400px;
  margin: 20px 0 0 0;
}
.page_10 .characterList > li:nth-of-type(2) {
  padding-left: 60px;
}
.page_10 .starImg {
  flex-shrink: 0;
  margin-left: 40px;
  width: 90px;
  height: 90px;
  background: url("../images/sample_suhi/suhi_0402_01_0007_6_1.png") center/contain no-repeat;
}
.popup_pages .textBookPopup .popupInner figure {
  height: 520px;
}
.popup_pages .textBookPopup .popupInner figure img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
