@charset "utf-8";
.basicSlider_slides .imgContainer{position: absolute;bottom: 10px;left: 50%;transform: translateX(-50%);}
.basicSlider_slides .imgContainer .img{width: 500px;height: 280px;position: relative;}
.basicSlider_slides .imgContainer .img img{width: 100%;height: 100%;}
.basicSlider_slides .colorBox.green{font-size: 20px;display: inline-block;position: absolute;padding: 6px 13px;}
.basicSlider_slides .text_1{left: 32px;top: 91px;}
.basicSlider_slides .text_2{right: 110px;top: 80px;}
.basicSlider_slides .text_3{right: 7px;bottom: 45px;}
.basicSlider_slides .text_4{left: 200px;bottom: 38px;}
.basicSlider_slides .colorBox.brown{font-size: 18px;display: inline-block;position: absolute;padding: 6px 8px;}
.basicSlider_slides .num_1{left: 138px;top: 79px;}
.basicSlider_slides .num_2{left: 47px;bottom: 71px;}
.basicSlider_slides .num_3{left: 42%;top: 40%;}
.basicSlider_slides .num_4{right: 25%;bottom: 47px;}
.basicSlider_slides .num_5{transform: rotate(55deg);right: 11%;top: 43%;}

.page_2 .study_guide{top:0;right:0;}
.page_2 .flexListContainer{height:42%;width: 333px;}
.page_2 .flexListContainer .characterImg{position:relative;}

.page_3 .contentsList div .flex-box{margin-bottom: 10px;display: flex;justify-content: space-between;}
.page_3 .flex-box .bullet.number.self{align-self: center;}
.basicSlider_slides .page_3 .imgContainer .img{width: 500px;height: 280px;position: relative;}

.popup_contents {font-size: 40px;}
.popup_contents .imgCon{position: relative;}
.popup_contents img{width: 100%;height: 100%;}
.popup_contents .colorBox.green{display: inline-block;position: absolute;}
.popup_contents .colorBox.brown{display: inline-block;position: absolute;}
.popup_contents .text_1{left: 96px;top: 29.6%;}
.popup_contents .text_2{    right: 25.2%;top: 27.5%;}
.popup_contents .text_3{right: 3.4%;bottom: 15.7%;}
.popup_contents .text_4{left: 42%;bottom: 13.4%;}
.popup_contents .num_1{left: 27%;top: 27%;}
.popup_contents .num_2{left: 12%;bottom: 25.5%;}
.popup_contents .num_3{left: 42%;top: 40%;}
.popup_contents .num_4{right: 25%;bottom: 16.3%;}
.popup_contents .num_5{transform: rotate(55deg);right: 12.8%;top: 42%;}