.tableContainer{margin-top:60px;}
section > .toggle{margin-top:20px}
.pop_page_1 .popup_contents .lineBox{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.pop_page_2 .popup_contents .lineBox{width:640px;margin:30px auto;}
.pop_page_2 .popup_contents .lineBox img{width:600px;}
.pop_page_2 .popup_contents .tableContainer{width:660px;display:flex;}
.pop_page_2 .popup_contents .tableContainer table{width:600px;}
.pop_page_2 .popup_contents .tableContainer .exam{margin-right:10px;}
[class*="txt-0"]{position:absolute;}
.pop_page_1 .txt-01{left:140px;top:130px;}
.pop_page_1 .txt-02{left:490px;top:200px;}
.pop_page_1 .txt-03{left:800px;top:45px;}
.pop_page_1 .txt-04{left:180px;top:300px;}
.pop_page_1 .txt-05{left:700px;top:250px;}
.pop_page_1 .txt-06{left:150px;top:450px;}
.pop_page_1 .txt-07{left:530px;top:450px;}
.pop_page_1 .txt-08{left:820px;top:455px;}

.pop_page_2 .txt-01{left:373px;top:134px;}
.pop_page_2 .txt-02{left:600px;top:170px;}
.pop_page_2 .txt-03{left:800px;top:80px;}
.pop_page_2 .txt-04{left:390px;top:250px;}
.pop_page_2 .txt-05{left:740px;top:220px;}
.pop_page_2 .txt-06{left:345px;top:355px;}
.pop_page_2 .txt-07{left:615px;top:350px;}
.pop_page_2 .txt-08{left:813px;top:350px;}

.page_2 .characterList{margin-top:20px;}
.page_1 .toggle.box{display:flex;margin-top:10px;}
.page_1 .toggle.box .bullet{display:none;}
.page_1 .toggle.box.complete .bullet{display:block;}
.page_1 .toggle.box .answer{text-align:left;;}

.page_1 section .tableContainer{display:none;}
.page_1 section.on .tableContainer{display:block;}
