/*common*/
.icon_supplyText {
    margin-left: 476px;
    margin-top: -57px;
}
.calBox.skyBlue {
    background-color: #5ca2e7;
}
.calBox.yellow {
    background-color: #F1C40F;
}
/*page_1*/
.img_1 {
    position: relative;
    height: 430px;
    margin-top: 20px;
}
.characterText_1 {
    position: absolute;
    top: 0;
    left: 0;
}

.characterText_2 {
    position: absolute;
    top: -25px;
    right: -18px;
}

.calBox1 {
    position: absolute;
    top: 370px;
    left: 65px;
}
.calBox2 {
    position: absolute;
    top: 310px;
    left: 315px;
}
.calBox3 {
    position: absolute;
    top: 310px;
    left: 571px;
}
.calBox4 {
    position: absolute;
    top: 370px;
    left: 901px;
}

.qBox, .qBoxBg {
    line-height: 45px;
}

