@charset "utf-8";
section{
  font-size: 39px;
}
/*1*/
.page_1 .flex_list{
  display: flex;
  margin: 20px auto 0 auto;
}
.page_1 .flex_list li{
  width: 30%;
  margin-right: 5%;
  text-align: center;
}
.page_1 .flex_list li:last-child{
  margin-right: 0;
}
.page_1 .flex_list li img{
  width: 100%;
}
/*2*/

.page_2 .flex_list{
  display: flex;
}
.page_2 .flex_list li{
  width: 49%;
  margin-right: 2%;
  text-align: center;
}
.page_2 .flex_list li:last-child{
  margin-right: 0;
}
.page_2 .flex_list li img{
  height: 200px;
  width: 70%;
}
 .page_2 .innerTab_2 .flex_list li:nth-child(1) img{
  width: 70%;
}
 .page_2 .innerTab_2 .flex_list li:nth-child(2) img{
  width: 50%;
}

.page_2 .tableContainer{
  margin-bottom: 10px;
  width: 90%;
}
.page_2 .tableContainer th,
.page_2 .tableContainer td{
  padding: 10px;
}
.page_2 .lineBox {
  display: inline-block;
  margin: 0;
}


.page_2 .innerTab_1 .dapCheckBtn,
.page_2 .innerTab_2 .dapCheckBtn{
  right: -30px;
}
/*3*/
.page_3 .horizonWrap{
  position: relative;
  height: 200px;
  width: 100%;
  display: block;
}
.page_3 .horizonContainer{
  width: 786px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.page_3 .horizonContainer .lineContainer{
  left: 0;
}
.page_3 .horizonContainer .textContainer{
  left: -15px;
}
.page_3 .answer_list{
  position: absolute;
  left: 86px;
  top: 74px;
}
.page_3 .answer_list li{
  width: 141px;
  text-align: center;
  display: inline-block;
}
.page_3 .flex_list li > .toggle{

}
.page_3 .horizonContainer {
  height: 170px;
  margin: 30px 0 0 0;
}
.page_3 .verticalContainer {
  width: calc(100% - 36px);
  margin: 0 auto;
}

/*4*/
.page_4 .horizonWrap{
  position: relative;
  height: 200px;
  width: 100%;
  display: block;
}
.page_4 .horizonContainer{
  width: 836px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.page_4 .horizonContainer .lineContainer{
  left: 0;
}
.page_4 .horizonContainer .textContainer{
  left: -15px;
}
.page_4 .answer_list{
  position: absolute;
  left: 35px;
  top: 74px;
}
.page_4 .answer_list li{
  width: 191px;
  text-align: center;
  display: inline-block;
}
.page_4 .flex_list li > .toggle{

}
.page_4 .horizonContainer {
  height: 170px;
  margin: 30px 0 0 0;
}
.page_4 .verticalContainer {
  width: calc(100% - 36px);
  margin: 0 auto;
}

/*5*/
.suhi .page_5 h2 + section .study_guide {
  top: -10px;
  right: 0;
}
.page_5 .tableContainer {
  margin: 30px 0 0 0;
}
.page_5 .tableContainer th,
.page_5 .tableContainer td{
  width: 33%;
  padding: 20px;
}
.page_5 .oxList th{
  position: relative;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
}

.page_5 .tableContainer td img{
  width : 70%;
}
.page_5 .icon{
  position:absolute;

  left:50%;
  margin-left:-23px;
}