

/* 선 */
.mindMapLine.left {
  top: 235px;
  left: 250px;
  width: 140px;
}
.mindMapLine.bottom {
  top: 315px;
  left: 535px;
  height: 140px;
}
.mindMapLine.right {
  top: 235px;
  left: 690px;
  width: 140px;
}


.mindMap_first { top: 130px; }

.mindMap_second.odd {
  width: 220px;
  height: 180px;
}
.mindMap_second.even {
  width: 250px;
  height: 165px;
}
.mindMap_second_1 {
  top: 164px;
  left: 50px;
}
.mindMap_second_2 {
  top: 440px;
  left: 420px;
}
.mindMap_second_3 {
  top: 164px;
  left: 810px;
}

/* 손가락 버튼 */
.btn_1 {
  top: 250px;
  left: 195px;
}
.btn_2 {
  top: 250px;
  left: 975px;
}
.btn_3 {
  top: 530px;
  left: 585px;
}

.popup_container .moveButtonContainer {
  z-index: 4;
}
.popup_contents {
  /* background: url(../common/contents/images/life/popup/popup_bg.png) 0 0/ 20px repeat; */
}


/* popup선 */
.popup_contents .mindMapLine.left {
  top: 235px;
  left: 280px;
  width: 140px;
}
.popup_contents .mindMapLine.bottom {
  top: 315px;
  left: 570px;
  height: 140px;
}
.popup_contents .mindMapLine.right {
  top: 235px;
  left: 740px;
  width: 140px;
}

.popup_contents .mindMap_second_1 {
  top: 164px;
  left: 80px;
}
.popup_contents .mindMap_second_2 {
  top: 440px;
  left: 450px;
}
.popup_contents .mindMap_second_3 {
  top: 164px;
  left: 855px;
}
