
.dragObj_1 {
  top: 80px;
  left: 70px;
}
.dragObj_2 {
  top: 80px;
  left: 325px;
}
.dragObj_3 {
  top: 220px;
  left: 200px;
}
.dragObj_4 {
  top: 360px;
  left: 70px;
}
.dragObj_5 {
  top: 340px;
  left: 325px;
}

.dropArea_1 {
  top: 225px;
  left: 590px;
}
.dropArea_2 {
  top: 225px;
  left: 740px;
}
.dropArea_3 {
  top: 95px;
  left: 910px;
}
.dropArea_4 {
  top: 225px;
  left: 910px;
}
.dropArea_5 {
  top: 350px;
  left: 910px;
}

.buttonContainer {
  right: 50px;
}