
/*─────────────────────────┐
	name: font.css
	data: 2018.09.11
└─────────────────────────*/

@charset "utf-8";

/* 나눔고딕 */
@font-face {
	font-family: NGothic;
	src: url("../font/NanumGothic.woff");
	font-display: font-display;
}
@font-face {
	font-family: NGothicB;
	src: url("../font/NanumGothicBold.woff");
	font-display: font-display;
}
@font-face {
	font-family: NGothicEB;
	src: url("../font/NanumGothicExtraBold.woff");
	font-display: font-display;
}
.NGothic { font-family: NGothic; }
.NGothicB { font-family: NGothicB; }
.NGothicEB { font-family: NGothicEB; }


/* 나눔바른펜 */
@font-face {
	font-family: NBarunpenB;
	src: url("../font/NanumBarunpenB.woff");
	font-display: font-display;
}
.NBarunpenB { font-family: NBarunpenB; }


/* 너의이야기(악보 제목) */
@font-face {
	font-family: HUstoryM;
	src: url("../font/HUstory130.woff");
	font-display: font-display;
}
@font-face {
	font-family: HUstoryB;
	src: url("../font/HUstory150.woff");
	font-display: font-display;
}
.HUstoryM { font-family: HUstoryM; }
.HUstoryB { font-family: HUstoryB; }


/* Noto */
@font-face {
	font-family: NotoM;
	src: url("../font/NotoSans-Medium.woff");
	font-display: font-display;
}
@font-face {
	font-family: NotoB;
	src: url("../font/NotoSans-Bold.woff");
	font-display: font-display;
}
.NotoM { font-family: NotoM; }
.NotoB { font-family: NotoB; }


/* 코펍바탕 */
@font-face {
	font-family: kopubBatangM;
	src: url("../font/KoPubBatangMedium.woff");
	font-display: font-display;
}
@font-face {
	font-family: kopubBatangB;
	src: url("../font/KoPubBatangBold.woff");
	font-display: font-display;
}
.kopubBatangM { font-family: kopubBatangM; }
.kopubBatangB { font-family: kopubBatangB; }


/* 나눔스퀘어 */
@font-face {
	font-family: NSquareB;
	src: url("../font/NanumSquareB.woff");
	font-display: font-display;
}
@font-face {
	font-family: NSquareEB;
	src: url("../font/NanumSquareEB.woff");
	font-display: font-display;
}
.NSquareB { font-family: NSquareB; }
.NSquareEB { font-family: NSquareEB; }


/* 고도 */
@font-face {
	font-family: GodoB;
	src: url("../font/GodoB.woff");
	font-display: font-display;
}
@font-face {
	font-family: GodoM;
	src: url("../font/GodoM.woff");
	font-display: font-display;
}
.GodoB { font-family: GodoB; }
.GodoM { font-family: GodoM; }


/* 고도-마음 */
@font-face {
	font-family: GodoMaum;
	src: url("../font/godoMaum.woff");
	font-display: font-display;
}
.GodoMaum { font-family: GodoMaum; }


/* 고양 */
@font-face {
	font-family: Goyang;
	src: url("../font/Goyang.woff");
	font-display: font-display;
}
.Goyang { font-family: Goyang; }